<html>
  <%= render "layouts/head" %>
   <% flash.each do |message_type, message| %>
      <%= message %>
    <% end %>
  <body>
    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
